{% extends "base.twig.html" %}
{% block main %}

<h1>Contacter "{{userReceiver.uti_nom}}"</h1>

<section>
    <form class="newsletter" method="post" action="enchere/msgUser" id="formNv" name="formNv">
        <input type="hidden" name="uti_nom" value="{{userReceiver.uti_nom}}">
        <input type="hidden" name="receiver" value="{{userReceiver.uti_id}}">
        <div class="champs">
            <label for="uti_nom">Nom</label>
            <input type="text" class="champ" name="uti_nom" id="nomNv" value="{{userSender.uti_nom}}" readonly>
            <small id="errNom"></small>
        </div>
        <div class="champs">
            <label for="msg_uti_id_ce">Courriel</label>
            <input type="email" class="champ" name="msg_uti_id_ce" id="courrielNv" value="{{userSender.uti_courriel}}" readonly>
            <small id="errCourriel"></small>
        </div>
        <div class="champs">
            <label for="msg_sujet">Sujet: </label>
            <input type="text" class="champ" name="msg_sujet" placeholder="Sujet du message">
            
        </div><br>
        <label for="msg_contenu">Votre texte: </label><br>
        <textarea name="msg_contenu" cols="90" rows="10" maxlength="1000" id="descriptionNv"></textarea>
        <span id="counter">0</span> / 1000 caractères
        <small id="errDescription"></small>
        <input class="newsletter__form__submit" type="submit" name="submitNv" value="Envoyer">
    </form>
</section>

{% endblock %}