{% extends "base.twig.html" %}

{% block main %}
        <h1 class="firstTitle">Fiche du Timbre {{enchere.tim_id}}</h1>
        <h2>Mise en ligne par {{enchere.uti_nom}}</h2>
        
        <main class="infos">
            <section class="images">
                    <img class="imgPrincipale" src="ressources/css/accueil/immg/{{enchere.img_path}}" alt="{{enchere.img_path}}" title="{{enchere.img_path}}">
            </section>

            <section class="infosGenerales">
                <article class="infosTimbre">
                    <span class="id">Lot #{{enchere.enc_id}}</span>
                    <h1 class="titreTimbre">
                        Timbre "{{ enchere.tim_nom }}" 
                    </h1>
                    <div class="pays info">
                        <div>
                            <img src="ressources/css/accueil/icons/location.png" class="icon">
                            <h3 class="infoTitre">Pays</h3>
                        </div>
                        <div>
                            <span>{{ enchere.tim_pays }}</span>
                        </div>
                    </div><hr>
                    <div class="ville info">
                        <div>
                            <img src="ressources/css/accueil/icons/town.png" class="icon">
                            <h3 class="infoTitre">Ville</h3>
                        </div>
                        <span>{{ enchere.tim_ville }}</span>
                    </div><hr>
                    <div class="annee info">
                        <div>
                            <img src="ressources/css/accueil/icons/clock.png" class="icon">
                            <h3 class="infoTitre">Année de production</h3>
                        </div>
                        <span>{{ enchere.tim_dateCreation }}</span>
                    </div><hr>
                    <div class="dimension info">
                        <div>
                            <img src="ressources/css/accueil/icons/frame.png" class="icon">
                            <h3 class="infoTitre">Dimensions de l'image</h3>
                        </div>
                        <span>{{ enchere.tim_dimensions }}</span>
                    </div><hr>
                    <div class="description">
                        <div class="desc">
                            <img src="ressources/css/accueil/icons/pen.png" class="icon">
                            <h3 class="infoTitre">Description</h3>
                        </div>
                        <p>{{ enchere.tim_description }}</p>
                    </div>
                </article>

                <article class="infosEnchere">
                    <div class="primaryButtons">
                        {% if session.utilisateur %}
                        {% if favori.fav_uti_id_ce == session.utilisateur.uti_id%}
                        <form method="post" class="convertPrint" action="enchere/delFavori">
                            <input type="hidden" name="enc_id" value="{{enchere.enc_id}}">
                            <button>Supprimer dans favoris</button>
                        </form>
                        {% else %}
                        <form method="post" class="convertPrint" action="enchere/addFavori">
                            <input type="hidden" name="enc_id" value="{{enchere.enc_id}}">
                            <!-- <input type="submit" value="Ajouter aux favoris"> -->
                            <button>Ajouter aux favoris</button>
                        </form>
                        {% endif %}
                        {% endif %}
                        <form method="post" class="convertPrint" action="enchere/listemises">
                            <input type="hidden" name="enc_id" value="{{enchere.enc_id}}">
                            <button>voir historique des mises</button>
                        </form>
                        <!-- <a href="enchere/listemises">voir historique des mises</a> -->
                        
                    </div>
                    
                    <h3 class="enchereTitres">Dernière mise:</h3>
                    <h1 class="prixRecent">{{enchere.enc_prixActuel}} £</h1>
                    <a href="enchere/mise/{{enchere.enc_id}}" class="versMise">
                        <input type="hidden" value="{{enchere.enc_id}}">
                        {% if session.utilisateur %}
                        
                        {% if enchere.enc_uti_id_ce != session.utilisateur.uti_id %}
                        <button class="mise" id="placerMise">placer une mise</button>
                        <a href="enchere/listemises"><button class="mise" id="enchereGagnant"><span class="msgGagnant"></span> {{enchGagnant.uti_nom != '' ? enchGagnant.uti_nom : '"Aucun"'}}</button></a>
                        {% else %}
                        <a><button class="mise" id="placerMise2">Vous ne pouvez pas miser sur votre propre enchère</button></a>
                        <a href="enchere/listemises"><button class="mise" id="encherreGagnant"><span class="msgGagnant"></span> {{enchGagnant.uti_nom != '' ? enchGagnant.uti_nom : '"Aucun"'}}</button></a>
                        {% endif %}
                        {% endif %}
                        {% if not session.utilisateur %}
                        <a href="utilisateur/connect"><button class="mise" id="placerMise3">Vous voulez miser? Connectez-vous!</button></a>
                        <a href="enchere/listemises"><button class="mise" id="encherrreGagnant"><span class="msgGagnant"></span>{{enchGagnant.uti_nom != '' ? enchGagnant.uti_nom : '"Aucun"'}}</button></a>
                        {% endif %}
                    </a>
                    <h3 class="enchereTitres">Valeur de début:</h3>
                    <h3 class="prixEstime">{{ enchere.enc_prixDepart }} £</h3>
                    <hr class="separateur">
                    
                    <h3 class="enchereTitres fin">Fin de l'enchère le:</h3>
                        <span class="time" id="enchereDateFin">{{ enchere.enc_dateFin }}</span> <span class="time">00:00</span>
                        <!-- <span class="time">13m</span> -->
                        <span class="timeSpan"><i>Greenwich Mean Time (GMT)</i></span><br><br>
                        <div id="tiimer">
                        <span>il reste:</span> <span class="time" id="day"></span> jour(s) <span class="time" id="hour"></span> heure(s) <span class="time" id="minute"></span> minute(s) <span class="time" id="second"></span> seconde(s)
                    </div>
                    <hr class="separateur">
                    <div class="convertPrint">
                        <button>convertisseur de devises</button>
                        <button>imprimer</button>
                    </div>
                    
                    {% if session.utilisateur %}
                        <form class="convertPrint" action="enchere" method="post">
                            <input type="hidden" name="enc_id" value="{{enchere.enc_id}}">
                        {% if session.utilisateur.uti_nom != enchere.uti_nom %}
                            <button formaction="enchere/contactuser" name="contact">Contacter {{enchere.uti_nom}}</button>
                        {% endif %}
                        {% if session.utilisateur.uti_id == enchere.enc_uti_id_ce %}
                            <button formaction="enchere/retirer" name="supprimer">Supprimer l'enchère</button>
                            <button formaction="enchere/modification/{{enchere.enc_id}}" name="modifier">Modifier l'enchère</button>
                        </form>
                        {% endif %}
                    {% endif %}
                </article>
            </section>
        </main>
        {% endblock %}
