{% extends "base.twig.html" %}

{% block main %}

<h1>Vos enchères favorites</h1>
{% if not favoris %}
<h2>Vous n'avez pas encore de favoris</h2>
{% endif %}

            <section class="catalogue1__principal">
                
                {% for favor in favoris %}
                <article class="catalogue1__principal__timbre">
                    <img class="catalogue1__principal__timbre__img" src="ressources/css/accueil/immg/{{favor.img_path}}" alt="{{favor.img_path}}">
                    <h2 class="catalogue1__principal__timbre__titre">{{favor.tim_nom}}</h2>
                    <p class="catalogue1__principal__timbre__presentation">
                        {{favor.tim_description}}
                    </p>
                    <a href="enchere/detail/{{favor.enc_id}}" class="lienTimbre">voir la fiche</a>
                </article>
                {% endfor %}
                
                
                
            </section>
        
        {% endblock %}