{% extends "base.twig.html" %}
{% block main %}

<h1>Ouvrir une connexion</h1>
<section>
    <form class="newsletter" method="post" action="utilisateur/connexion" name="formNv" id="formNv">
        <div class="champs">
            <label for="uti_courriel">Courriel</label>
            <input type="email" class="champ" name="uti_courriel" id="compteCourriel" placeholder="Adresse de courriel"><br> <small id="errCourriel"></small>
        </div><br>
        <div class="champs">
            <label for="uti_mdp">Mot de passe</label>
            <input type="password" class="champ" name="uti_mdp" id="comptePassword" placeholder="Mot de passe"> 
        </div><br><br>
            <input class="newsletter__form__submit" name="submitNv" type="submit" value="Connexion">
        <div>
            <a href="utilisateur/nouveau" class="lienNormal">Vous n'avez pas de compte? inscrivez-vous!</a>
        </div>
    </form>
</section>
<div>

</div>
{% if erreur %}
<p>{{erreur}}</p>
{% endif %}
{% endblock %}