{% extends "base.twig.html" %}

{% block main %}
<form action="enchere/recherche" method="post" class="bar__recherche">
    <input type="text" name="recherche" class="bar__recherche__champ" placeholder="Rechercher une enchère">
    <input type="submit" value="Trouver" class="bar__recherche__btn">
</form>

<section class="infos">
    <section class="carousel">
        <figure class="carousel__imgs">
            <img src="ressources/css/accueil/img/stamp2.jpg" alt="stamp2">
            <img src="ressources/css/accueil/img/stamp3.jpg" alt="stamp3">
            <img src="ressources/css/accueil/img/stamp5.jpg" alt="stamp5">
            <img src="ressources/css/accueil/img/stamp4.jpg" alt="stamp4">
            <img src="ressources/css/accueil/img/stamp2.jpg" alt="stamp2">
        </figure>
        </section>

        <h1>LORD STAMPEE</h1>
        <section class="presentation">
        <p class="presentation__text__paragraphe">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nostrum iste laborum vel quod adipisci blanditiis eius dignissimos saepe, ullam fugiat provident. Obcaecati, laudantium eveniet adipisicing elit. Nulla nostrum iste laborum vel quod adipisci blanditiis eius dignissimos... <a href="#">LIRE LA SUITE >></a>
        </p>
        <img src="ressources/css/accueil/img/stampee.jpg" alt="Lord Stampee" class="presentation__text__img">
        </section>
        

        <h1>Enchères à venir</h1>

            {% if encheres %}
            {% for enchere in encheres %}
            <section class="catalogue__principal">
                <article class="catalogue__principal__timbre">
                    <div class="catalogue__principal__timbre__infos">
                    <span class="catalogue__principal__timbre__infos__titre">{{enchere.tim_nom}}</span><br>
                    <span class="catalogue__principal__timbre__infos__date"><b>Année:</b> {{enchere.tim_dateCreation}}</span><br>
                    <span class="catalogue__principal__timbre__infos__prix"><b>Prix actuel:</b> {{enchere.enc_prixActuel}} £</span><br>
                    <div class="catalogue__principal__timbre__infos__btns">
                        <a class="catalogue__principal__timbre__infos__btns__btn">faire une mise</a>
                        <a class="catalogue__principal__timbre__infos__btns__btn">Voir détails</a>
                    </div>
                    </div>
                    <div class="catalogue__principal__timbre__imgs">
                    <img class="catalogue__principal__timbre__img" src="ressources/css/accueil/immg/{{enchere.img_path}}">
                    </div>
                </article>
            </section>
            <a href="enchere/tout" class="liTbr">VOIR TOUT</a> <br><br><br>
            {% endfor %}
            {% else %}
                <h2>Aucune enchère n'est disponible!</h2> <br><br><br>
            {% endif %}


        

        <h1>NEWSLETTER</h1>
        <section class="newsletter">
            <p class="newsletter__paragraphe">
                Restez informés des meilleures histoires,<br>vidéos, événements et actualités<br>de Lord Stampee.
            </p>
            <form class="newsletter__form" action="#" method="post">
                <span id="civil">Civilité</span><br>
                <input type="radio" name="title" id="mr">
                <label class="lab" for="mr">Mr</label>
                <input type="radio" name="title" id="mme">
                <label class="lab" for="mme">Mme</label>
                <input type="radio" name="title" id="mlle">
                <label class="lab" for="mlle">Mlle</label><br><br><br>

                <input type="text" name="prenom" placeholder="Votre prénom" class="newsletter__form__prenom champ"><br><br>
                <input type="text" name="nom" placeholder="Votre nom" class="newsletter__form__nom champ"><br><br>
                <span id="etoile">*</span>
                <input type="email" name="email" placeholder="Votre adresse email" class="newsletter__form__email champ"><br><br>
                
                <input type="submit" value="S'inscrire" class="newsletter__form__submit">
            </form>
        </section>
    </section>
    {% endblock %}
